
/* LayOut */
.main {
    background-color: #ffff;
    position: relative;
    text-align: center;


}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Main Heading */
.h2 {
    margin-top: -3px;
     color: #0D1625;
      font-size: 35px;
      margin-bottom: -40px;
      margin-left: -90px;
}

.testimonial-heading {
    margin-left:  60px;
    margin-top: 130px;
}

.span {
    color: #61C2D0; 
     font-size: 17px;
     margin-left: -100px;
}
.border-img {
    margin-bottom: -35px;
      width: 80px; 
       height: 4px;
       margin-left: -100px;

}

/* image  */
.rectangle-img {
    width: 90%;
    margin-left: 12%;
    margin-top: -45%;
    
  
}
.logo {
    width: 70%;
     margin-right: -135px;
      margin-top: 76%;
       margin-bottom:-30px;
}


/* Carousel Styling  */
.col {
    margin-top: 50px;
}
.carousel {
    height: 370px;
     margin-left: -100px;
    
}
.carousel-para {
    width: 500px;
    text-align: justify;
     font-size: 19px;
      margin-left: 80px
}
.carousel-h3 {
    margin-right: -14%;
}
.carousel-img {
    margin-left: 30px;
     margin-top: 50px;
}
.ant-carousel .slick-dots li {
    background-color: #61C2D0;
    border-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    height: 7px;
    width: 7px;
}
.ant-carousel .slick-dots li button {
    display: none;
    
}
.ant-carousel .slick-dots {
   margin-left: 82%;
}


/* ***********************************MEDIA QUERIES***********************************  */

@media (max-width: 499px){
    .main {
        background-color: #ffff;
        position: relative;
        text-align: center;
    }
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .h2 {
        margin-top: 5px;
         color: #0D1625;
          font-size: 15px;
          margin-left: 2px;
    }
    .span {
        color: #61C2D0; 
         font-size: 10px;
         margin-left: 2px;
    }
    .border-img {
        margin-bottom: -40px;
          width: 50px; 
           height: 4px;
           margin-left: 2px;
    }
    .rectangle-img {
        width: 200%;
        margin-top: 40%;
        margin-left: -93px;
    }
    .ant-carousel .slick-dots li {
        background-color: #61C2D0;
        border-radius: 100%;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        border-top-right-radius: 100%;
        border-top-left-radius: 100%;
        height: 7px;
        width: 7px;
    }
    .ant-carousel .slick-dots li button {
        display: none;
        
    }
    .ant-carousel .slick-dots {
       margin-left: 45%
    }
    .testimonial-heading {
        margin-left: -25px;
        margin-top: -20px;
    }
    .carousel {
        height: 300px;
         margin-left: -85px;
         margin-top: 5px;
         width: 320px;
    }
    .carousel-para {
        width: 250px;
        text-align: justify;
         font-size: 12px;
          margin-left: 20px

    }
    .carousel-img {
        margin-left: 20px;
         margin-top: 50px;
         width: 30px;
    }
    .carousel-h3 {
        margin-left: -45%;
    }
    .logo {
        width: 200%;
     margin-left: -10px;
      margin-top: -20%;
       margin-bottom:-30px;
    }
}

@media (min-width: 500px) and (max-width: 1199px) {
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .h2 {
        margin-top: 1px;
         color: #0D1625;
          font-size: 36px
    }
    .span {
        color: #61C2D0; 
         font-size: 20px
    }
    .border-img {
        margin-bottom: 50px;
         margin-top: 50px;
          width: 80px; 
           height: 4px
    }
    .rectangle-img {
        width: 200%;
        margin-top: 20%;
        margin-left: -200px;
    }
    .carousel {
        height: 415px;
         margin-left: -150px;
         margin-top: -45px;
         width: 570px;
    }
    .carousel-para {
        width: 530px;
        text-align: justify;
         font-size: 20px;
          margin-left: 20px

    }
    .carousel-img {
        margin-left: 20px;
         margin-top: 50px;
         width: 30px;
    }
    .carousel-h3 {
        margin-left: -61%;
    }
    .carousel-span {
        margin-left: -73%;
         color: #0D1625;
    }
    .ant-carousel .slick-dots {
        margin-left: 72%
     }
     
    .carousel-h3 {
        margin-left: -75%
    }
    .carousel-span {
        margin-left: -70%;
         color: #0D1625;
    }
    .testimonial-heading {
        margin-left: 7px;
        margin-top: -10px;
    }
    .logo {
        width: 200%;
      margin-top: -20%;
       margin-bottom:-30px;
    
    }
    
} 

@media (min-width: 1200px) {
    .carousel-h3 {
        margin-left: -55%;
    }
    .carousel-span {
        margin-left: -60%;
         color: #0D1625;
    }
    .carousel {
        height: 415px;
         margin-top: -15px;
         width: 600px;
    }
    .logo {
        width: 65%;
      margin-top: 110%;
    
    }
   
}

@media (min-width: 540px) and (max-width: 720px) {
    
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .h2 {
        margin-top: 1px;
         color: #0D1625;
          font-size: 23px;
    }
    .span {
        color: #61C2D0; 
         font-size: 14px
    }
    .border-img {
        margin-bottom: 10px;
         margin-top: 47px;
          width: 80px; 
           height: 4px
    }
    .rectangle-img {
        width: 180%;
        margin-top: 10%;
        margin-left: -130px;
    }
    .carousel {
        height: 415px;
         margin-left: -130px;
         margin-top: -35px;
         width: 500px;
    }
    .carousel-para {
        width: 420px;
        text-align: justify;
         font-size: 20px;
          margin-left: 20px

    }
    .carousel-img {
        margin-left: 20px;
         margin-top: 50px;
         width: 30px;
    }
    .carousel-h3 {
        margin-left: 20%;
    }
    .ant-carousel .slick-dots {
        margin-left: 60%
     }
     
    .carousel-h3 {
        margin-left: -72%;
    }
    .carousel-span {
        margin-left: -80%;
         color: #0D1625;
    }
    .testimonial-heading {
        margin-left: 45px;
        margin-top: -20px;
    }
    .logo {
        width: 180%;
         margin-right: -220px;
          margin-top: 5%;
           margin-bottom:-30px;
    }
} 

