@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');




@font-face {
    font-family: ProductSans;
    src: url(../../assets/fonts/ProductSansBold.ttf);
}







@font-face {
    font-family: ProductSansRegular;
    src: url(../../assets/fonts/ProductSansRegular.ttf);
}








@media screen and (max-width: 920px) and (min-width:500px)  {





    #our-team-layout {

        width: 100% !important;
        height: fit-content !important;
   
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: flex-start !important;
        background: #FFFFFF !important;
        position: relative !important;
    }







    #our-team-about-us-heading {


        color: #61dafb !important;
        font-family: 'Montserrat', sans-serif !important;
        font-size: 27px !important;
        font-weight: 599 !important;

    }






    #our-team-heading {

        font-weight: 500 !important;
        font-family: ProductSans, sans-serif !important;
        font-size: 50.25px !important;
        margin-top: 0px !important;
        margin-bottom: 17px !important;
    }






    #our-team-content {

    
        width: 100% !important;
        height: calc(100% - 50px);
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: space-between !important;
    }







    .our-team-content-left-and-right-box {
        width:48px  !important;
        height: 100% !important;
    }






    #our-team-middle-content {
    
        display: flex  !important;
        flex-direction: row !important;
        align-items: flex-start !important;
        justify-content:space-evenly !important ;
        flex-wrap: wrap !important;
        height: fit-content !important;
        width: 75% !important;
    }





    #our-team-memeber-content {

        width: 380px  !important;
        height: fit-content !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        margin-top: 63px !important;



    }







    #our-team-memeber-img-container {

        width: fit-content !important;
        height: 100% !important;
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center !important;
   
        margin-bottom: 5px !important;
    }








    #our-team-memeber-designation-container {
        width: calc(100% - 50px);
        height:fit-content;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: flex-start !important;
        padding-left: 12px !important;
        padding-bottom: 10px !important;
        padding-right: 10px !important;
        

    }







    #our-team-member-img {

        width: 190px !important;
        height: 190px !important;
        box-sizing: border-box !important;
    }
 





    #our-team-member-name{


        font-family: ProductSans, sans-serif !important;
        margin-bottom: 1.5px !important;
        margin-top: 15px !important;
        font-size: 25.5px !important;
        

    }






    #our-team-member-designation {

        color: #61dafb !important;
        font-family:  ProductSansRegular, sans-serif !important;
        font-size: 22px !important;
    }






    #our-team-member-details {

        font-family:  ProductSansRegular, sans-serif !important;
        text-align: center !important;
        font-size: 18.75px !important;

    }
    
} 










@media screen and (max-width:1199px) and (min-width: 921px) {




    
    #our-team-member-img {

        width: 130px !important;
        height: 130px !important;
        box-sizing: border-box !important;
    }







    #our-team-middle-content {
    
        display: flex  !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content:space-evenly !important ;
        /* flex-wrap: wrap !important; */
        height: fit-content !important;
        width: 75% !important;
        width: 90% !important;
    }




    

    .our-team-content-left-and-right-box {
        width:30px  !important;
        height: 100% !important;
    }
}
